# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/

# Linux
*.swp
*.lock
*.log

# Quartus II
*.ini
eclipse/
*bsf
*.cmp
*.html
*.sopcinfo
*nios_system/
*.rpt
#*software/
*.qsys_edit/
*bak
*.cdb
*.hdb
*.force_relink
serv_req_info.txt


# Eclipse
obj/
*.map
*.objdump
*.bsp

# Personal
scratch/
